.pink-bg {
  background-color: pink;
}

.pink-text {
  color: pink;
}

/*création d'un bouton pour changer le prénom et sa couleur d'écriture*/
.btnChangeName{
  background-color: pink;
  color: #ffffff;
  border-color:#ffffff ;
  border-radius: 10px;
  padding: 10px;
}

.purple-text {
  color: #750ff7;
}

.description {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.description p {
  width: 60%;
  text-align: center;
}

/*création média query pour rendre le site responsive pour les écrans plus grand que 700px*/
/*décalage à droite du nemu du haut (sauf logo) dans la navbar*/
@media (min-width: 700px) {
  .menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
  }
}

/*centrage du titre "FullStack Developer", du texte de l'avatar et de l'image de l'avatar*/
@media (min-width: 700px) {
  h1, .avatar, .desktop {
    display: flex;
    justify-content: center;
  }

}

/*inversion de back-end et front-end*/
@media (min-width: 700px) {
  .skills {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
}

/*les quatre projet (contents) dans la section projects se mettent en ligne, prennent toute la place et retourne à la ligne*/
@media (min-width: 700px) {
  .contents {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

/*création média query pour rendre le site responsive pour les écrans plus petit que 700px*/
/*l'image de l'introcudtion disparait*/
@media (max-width: 700px) {
  .introduction {
    visibility: hidden;
  }
}

/*Les section Back-end et Front-end se superposer et change d'ordre*/
@media (max-width: 700px) {
  .skills {
    display: flex;
    flex-direction: column-reverse;
  }
}

.desktop {
  margin: 80px 0 -5px 0;
}

.skills {
  margin-top: -30px;
  border-radius: 12px;
  padding: 0 10%;
}

.column {
  border-left: 1px solid #e6ecf8;
  border-right: 1px solid #e6ecf8;
  border-bottom: 1px solid #e6ecf8;
  background-color: #ffffff;
  padding: 60px 35px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5);
}

.column:first-child {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.column:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.box {
  width: 25%;
  padding: 30px;
  border: 1px solid #e6ecf8;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5);
}

img {
  max-width: 100%;
}

.projects a {
  color: #750ff7;
}

p {
  padding-left: 15px;
  padding-right: 15px;
}